<link rel="stylesheet" href="css/community.css">

<h2>this is the community page</h2>

<div id="boards-grid"></div>
<div id='comment-section'>
	<div id="placeholder"></div>
	<div>
		<form class='post-comment'>
			<label class='post-comment' for="username">Username: </label>
			<input class='post-comment' id="username" type="text" name="username" required> <br>
			<label class='post-comment' for="comment-textarea">Comment</label>
			<textarea class='post-comment' id="comment-textarea" name="comment-textarea" required></textarea><br>
			<input class='post-comment' type="submit" id="submit-comment-btn">
		</form>
	</div>
</div>
	


	


<script type="text/javascript" src="/community.js"></script>