<link rel="stylesheet" href="css/index.css">

<h2> {{title}} </h2>

<div id="canvas-container">
	<canvas id="canvas"></canvas>
	<div id="control-bar">
		<button id="runbtn">Run</button>
	</div>
</div>




<div id="user-alive-rule-container">
	<form action="/" method="post">
		<label class="rule-container" for="user-alive-rule">Enter your own rule (supports upto ES5 only, sorry):</label>
		<textarea class="rule-container" id="user-alive-rule" name="rule">//alive:bool, indicates current cell's status&#13;&#10;//neighbors:[bool], 8-bool array of neighbors' status&#13;&#10;function isAlive(alive, neighbors){&#13;&#10;&#9;return true;&#13;&#10;}
		</textarea><br>
		<input class="rule-container" id="sbmbut" type="submit" name="submit-button" value="Apply">
	</form>
</div>

<div id="submit-container" class="submit-container">
	<label for="username">Username:</label>
	<input id="username" type="text" name="username" placeholder="player01">
	<label for="board-name">Board name:</label>
	<input id="board-name" type="text" name="board-name" placeholder="Glider">
	<button id="submit-board-only-btn">Submit</button>
	<!-- <button id="submit-board-rule-btn">Submit Board and Rule</button> -->
</div>


<script type="text/javascript" src="/myboard.js"></script>
<script type="text/javascript" src="/validate.js"></script>