<h2> {{title}} playable, have a try</h2>

<div id="canvas-container">
	<canvas id="canvas"></canvas>
	<button id="runbtn">Run</button>
</div>



<div id="user-alive-rule-container">
	<form action="/" method="post">
		<label for="user-alive-rule">Enter your own rule</label>
		<textarea id="user-alive-rule" name="rule">//alive:bool, indicates current cell's status&#13;&#10;//neighbors:[bool], 8-bool array of neighbors' status&#13;&#10;function isAlive(alive, neighbors){&#13;&#10;&#9;return true;&#13;&#10;}
		</textarea><br>
		<input id="sbmbut" type="submit" name="submit-button">
	</form>
</div>



<script type="text/javascript" src="/myboard.js"></script>
<script type="text/javascript" src="/validate.js"></script>