<!DOCTYPE html>
<html>
<head>
	<title>Game of Life</title>
	<script type="text/javascript" src="http://caja.appspot.com/caja.js"></script>
	<script type="text/javascript" src="/Board.js"></script>
</head>
<body>
	<a href="/">Home</a>
	<a href="/community">View Community Boards</a>
	{{{body}}}

	<p>in memoriam of John Horton Conway (1937 - 2020)</p>
</body>
</html>